@font-face {
  font-family: 'Fredoka One';
  src: url('../font/FredokaOne-Regular.woff2') format('woff2'),
      url('../font/FredokaOne-Regular.woff') format('woff'),
      url('../font/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../font/HindMadurai-SemiBold.woff2') format('woff2'),
      url('../font/HindMadurai-SemiBold.woff') format('woff'),
      url('../font/HindMadurai-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../font/HindMadurai-Medium.woff2') format('woff2'),
      url('../font/HindMadurai-Medium.woff') format('woff'),
      url('../font/HindMadurai-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../font/HindMadurai-Regular.woff2') format('woff2'),
      url('../font/HindMadurai-Regular.woff') format('woff'),
      url('../font/HindMadurai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../font/HindMadurai-Bold.woff2') format('woff2'),
      url('../font/HindMadurai-Bold.woff') format('woff'),
      url('../font/HindMadurai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
      url('../font/Roboto-Bold.woff') format('woff'),
      url('../font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.woff2') format('woff2'),
      url('../font/Roboto-Medium.woff') format('woff'),
      url('../font/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
      url('../font/Roboto-Regular.woff') format('woff'),
      url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: roboto, sans-serif;
}

.container {
  width: 1165px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.site-btn {
  margin: 0;
  padding: 0;
  padding: 14px 50px;
  font-family: 'Hind Madurai';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
  border: none;
}

.site-btn:hover {
  opacity: 0.8;
}

.site-btn:active {
  opacity: 0.4;
}

/* !  HEADER   */

.header {
  background-color:#fbf0f4;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  opacity: 1;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item + .site-nav-item {
  margin-left: 40px;
}

.site-nav-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #bfb2b5;
  /* opacity: 0.6; */
}

.site-nav-link:hover {
  opacity: 0.8;
}

.site-nav-link:active {
  opacity: 0.4;
}

.now-here {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #D23166;
  opacity: 1;
}

/* !  MAIN   */

/* !  HERO   */

.hero {
  background-color: #fbf0f4;
}

.hero-container {
  background-image: url(../image/bg-image.png);
  background-repeat: no-repeat;
  background-position: left 460px top 46px;
}

.hero-left {
  width: 665px;
  padding: 213px 0;
  display: inline-block;
}

.hero-quote {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}

.hero-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: 'Fredoka One';
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0F0101;
  opacity: 0.9;
}

.hero-headindG-part {
  color: #D23166;
}

.hero-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: 'Hind Madurai';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0F0101;
  opacity: 0.6;
}


/* !  SERVICES   */
.services {
  padding: 100px 0;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.services-link {
  display: inline-block;
  text-align: center;
  padding: 27px;
  width: 250px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 7px;
}

.services-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.services-link:active {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  border: 1px solid transparent;
}

.services-list-img {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.services-item-desc {
  margin: 0;
  padding: 0;
  font-family: 'Hind Madurai';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
}


/* !  SUGAR  */
.sugar {
  background-color: #fbf0f4;
}

.sugar-container {
  padding: 144px 20px;
  background-image: url(../image/sugar-section.png);
  background-repeat: no-repeat;
  background-position: left 512px top -56px;
}

.sugar-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
}

.sugar-desc {
  margin: 0;
  padding: 0;
  width: 442px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
}

/* !  PRODUCT    */
.product {
  padding-top: 137px;
  padding-bottom: 233px;
}

.product-top {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.product-top-heading {
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
}


.product-top-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.product-top-item + .product-top-item {
 margin-left: 39px;
}

.product-top-link {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid transparent ;
}

.product-top-link:hover {
  border-bottom: 3px solid rgba(214, 67, 116, 1);
}

.product-top-link:active {
  opacity: 0.6;
}

/* !   */
.product-bottom-item {
  display: flex;
  align-items: center;
  list-style: none;
}

.product-bottom-item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.product-bottom-item:nth-child(4){
  text-align: left;
}

.product-bottom-info{
  margin: 0 85px;
}


.product-bottom-heading {
  margin: 0;
  overflow: 0;
  margin-bottom: 11px;
  font-family: 'Hind Madurai';
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}

.product-bottom-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  width: 454px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.product-bottom-value {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: 'Hind Madurai';
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}

.product-bottom-value-part {
  font-family: 'Hind Madurai';
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}

.product-bottom-info-part-top {
  display: flex;
  align-items: center;
}

.product-bottom-info-part-title {
  margin-left: 11px;
  text-align: left;
  vertical-align: middle;
}

.product-bottom-info-part-title h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.product-bottom-info-part-title p{
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  opacity: 0.7;
}

.product-bottom-info-quote {
  display: block;
  margin: 0;
  margin-top: 46px;
  margin-bottom: 39px;
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

/* ! SIMPLE   */

.simple {
  background-color: #fbf0f4;
}

.simple-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-app-viuw-img {
  position: relative;
  top: 47px;
}

.simple-right {
  width: 682px;
}

.simple-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
}

.simple-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0F0101;
  opacity: 0.7;
}

.simple-list {
  list-style: none;
}

.simple-item{
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.simple-item + .simple-item {
  margin-top: 15px;
}

.simple-item-text {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.simple-bottom-link {
  vertical-align: middle;
}


/* !  FORMS  */

.forms {
  padding-top: 150px;
  padding-bottom: 71px;
}

.forms-heading {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form-top {
  display: flex;
  margin-bottom: 35px;
}

.form-tel {
  padding: 29px 25px;
  width: 300px;
  border: 1px solid rgba(255, 163, 163, 1);
  border-radius: 5px;
  margin-right: 30px;

}


.form-select {
  padding: 29px 25px;
  width: 300px;
  border: 1px solid rgba(255, 163, 163, 1);
  border-radius: 5px;
  appearance: none;
  background-image: url(../image/Polygon.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.form-bottom {
  display: flex;
  position: relative;
}

.form-email {
  padding: 29px 25px;
  width: 500px;
  border: 1px solid rgba(255, 163, 163, 1);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-btn {
  width: 134px;
  position: absolute;
  left: 496px;
  z-index: 2;
  padding: 28px 36px;
}


/* !  FOOTER   */

.footer {
  background-color: rgba(10, 8, 8, 1);
  padding-top: 66px;
  padding-bottom: 110px;
}

.footer-bottom{
  display: flex;
}

.footer-left{
  width: 207px;
  margin-right: 37px;
}

.footer-left-desc{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-left-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  
}

.footer-center {
  display: flex;
  align-items: center;
}

.footer-center-list {
  margin: 0;
  padding: 0;
  margin-right: 132px;
  list-style: none;
}

.footer-center-item + .footer-center-item {
margin-top: 10px;
}

.footer-center-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}


.footer-center-link:hover {
  opacity: 0.8;
}
.footer-center-link:active {
  opacity: 0.4;
}

.footer-center-list-twe {
  margin: 0;
  padding: 0;
  margin-right: 150px;
  list-style: none;
}

.footer-right-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.footer-right-link {
  margin-top: 25px;
}

.submit-btn {
  padding: 16px;
}